<ion-view view-title="{{aWish.title}}">
  <ion-content class="padding" >
	<div class="list card">
	  <div class="item item-avatar">
	    <img src="img/smile.png">
	    <!-- <h2>{{aWish.title}}</h2> -->
	    <p>{{aWish.donor}} -->  {{aWish.charity}} | {{aWish.amount | currency}} | {{aWish.date}}</p>
	  </div>
	  <div class="item item-body">
	    <p>
	      {{aWish.description}}
	    </p>
	  </div>
	<!--   <div class="item tabs tabs-secondary tabs-icon-left">
		Status: {{aWish.status}}
	  </div> -->
	  
	  <!-- <p>only show the following button if accepted </p> -->
	    <button class="button button-positive ">
		 Confirm
		</button>
		
		<button class="button button-positive" style="float:left">
		 Cancel
		</button>
		
	</div> 
  </ion-content>
</ion-view>

 

      
