
<ion-view view-title="Sign Up">
  <ion-content class="padding">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Enter Username</span>
    <input type="text" placeholder="your username" ng-model="user.username" minlength="6" />
  </label>
  
  <!-- 
  <label class="item item-input item-stacked-label">
    <span class="input-label">Enter Email</span>
    <input type="text" placeholder="your email">
  </label>
   -->
   
  <label class="item item-input item-stacked-label">
    <span class="input-label">Enter Password</span>
    <input type="password" ng-model="user.password">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Repeat Password</span>
    <input type="password">
  </label>
  
  <label class="item item-input">
         <button class="button button-block button-positive" ng-click="SignUp(user)">
         Sign Up
         </button>
  </label>

</div>
  </ion-content>
</ion-view>
