<ion-view view-title="Fullfill a Wish">
  <ion-content class="padding">
  <div class="list">  
  
	  <label class="item item-radio" ng-repeat="wish in wishes" ng-click="goToDetails()">
          <input type="radio" name="wishgroup">
          <div class="item-content">
            {{wish.title}}<br> 
            {{wish.charity}}
            {{wish.amount | currency}}
            {{wish.date}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
     </label> 


  </div>
  </ion-content>
</ion-view>
