
<ion-view view-title="Log In">
  <ion-content class="padding">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="your first name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="your last name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text">
  </label>

  <label class="item item-input">
         <button class="button button-block button-positive" ng-click="LogIn()">
         Login
         </button>
  </label>

</div>
  </ion-content>
</ion-view>
