<!-- Make a Wish Here -->

<ion-view view-title="CharaSpark">
  <ion-content class="padding">
      <div class="list">
      
	     <label class="item item-input">
         <span class="input-label">Landing Wish Title (less than 5 words)</span><br/>
         <input type="text" ng-model="wish.wishtitle">
         <span class="input-label">Wish Title</span><br/>

         </label>
         <label class="item item-input">
         <span class="input-label">Wish Detail</span>
         <input type="text" ng-model="wish.description">
         </label>  
         
        <!--      
         <label class="item item-radio" ng-repeat="charity in charities" ng-click="displayDetails(charity.charityId)">
          <input type="radio" name="group">
          <div class="item-content">
            {{charity.name}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        
         -->
		<div class="list">
		
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Select Charity
		    </div>
		    <select>
		      <option selected>Choose One From List</option>
		      <option ng-repeat="charity in charities" ng-click="alert('aa')">{{charity.name}}</option>

		    </select>
		  </label>

        <!-- <label class="item item-radio" ng-repeat="charity in charities" ng-click="displayDetails(charity.charityId)">
        <input type="radio" name="group">
        <div class="item-content">
          {{charity.name}}
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label> -->

	    <label class="item item-input">
	       <span class="input-label">Donation Amt:</span>
	       <input type="text" ng-model="donationAmt">
	   </label>
	</div>         
       
         
         <label class="item item-input">
         <button class="button button-block button-positive" ng-click="MakeAWish(wish)">
         Make a Wish
         </button>
         </label>
      </div>
  </ion-content>
</ion-view>
