<ion-view view-title="Fullfill a Wish">
  <ion-content class="padding">
  <div class="list">  
  <!--
	  //to be modified, fetch data from model later
	  <label class="item item-radio" ng-repeat="wish in wishes" ng-click="displayDetails(wish.wishId)">
          <input type="radio" name="wishgroup">
          <div class="item-content">
            {{wishes.name}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
     </label> 
   -->
   <label class="item item-radio">
    <input type="radio" name="wishgroup">
    <div class="item-content">
      wish 1
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="wishgroup">
    <div class="item-content">
      wish 2
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>


  </div>
  </ion-content>
</ion-view>
