<ion-view view-title="Account">
  <ion-content>
   <div class="list">

	   <!-- should show info here-->
<ul class="list">
    <li class="item">Username</li>
    <li class="item">Email</li>
</ul>

<!-- 
<button class="button button-block button-positive" ng-click="changePassword()">
  Change Password
</button>
 -->

<ul class="list">
    <li class="item">Total Donated (for donor)</li>
    <li class="item">Total Donation Received (for charity)</li>

</ul>

<button class="button button-block button-positive">
  Donation Detail (only shown for charity)
</button>
  
<button class="button button-block button-positive">
  Log Out
</button>

</div> 
  </ion-content>
</ion-view>


