<ion-view view-title="">
    <ion-nav-title>
      <span>My fulfillments</span>
      <img src="./img/charaspark_logo_400.png" height="50%" style="float:left; margin-top: 13px">
    </ion-nav-title>

  <ion-content class="padding" >
	<div class="list card">
	  
	  <!--<div class="item item-avatar">
	    <h2>{{aWish.title}}</h2> 
	    {{aWish._wishMaker.user_name}}  {{aWish._charity.name}} | {{aWish.createdDate}}
	  </div>
	  <div class="item item-body">
  	      {{aWish.description}}
	  </div>
	  
	  <div class="item tabs tabs-secondary tabs-icon-left">
		Wish Maker: {{aWish._wishMaker.user_name}}
	  </div>
		-->
	  <div wish-detail>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
		Wish Status: {{wish.wishStatus}}
	  </div>
	
		
	</div> 
	<div class="list card" ng-show="showCancel">
		<button class="button button-positive" style="float:left" ng-click="Cancel()">
		 Cancel
		</button>
	</div>

  </ion-content>
</ion-view>

 

      
