<!-- Make a Wish Here -->


<ion-view ion-title="CharaSpark">

    <ion-nav-title>
      <span>Make A Wish</span>
      <img src="./img/charaspark_logo_400.png" height="50%" style="float:left; margin-top: 13px">
    </ion-nav-title>

  <ion-content class="padding" scroll="false">

    <!-- <div class="card">
      <div class="item item-text-wrap">
      </div>
    </div> -->
    <br>
        <h3 class="charaspark-color" align="center">Make A Difference Today</h3>

  <form name="wishForm" ng-submit="MakeAWish()" novalidate>
      
	     <label class="item item-input">
         <span class="input-label">Wish Title </span><br/>
         <input type="text" name="wishTitle" placeholder="Walk my dog" ng-model="wish.title" required>
        </label>   
        <label class="item item-input" ng-show="wishForm.wishTitle.$dirty && wishForm.wishTitle.$error.required">
          <span class="error">Wish Title is required</span>
        </label>

         <label class="item item-input item-stacked-label">
           <span class="input-label">Wish Detail</span>
           <input type="text" name="wishDesc" placeholder="Friendly and beautiful dog" ng-model="wish.description" required>
         </label>  

        <label class="item item-input" ng-show="wishForm.wishDesc.$dirty && wishForm.wishDesc.$error.required">
          <span class="error">Wish Detail is required</span>
        </label>
         
        <!--      
         <label class="item item-radio" ng-repeat="charity in charities" ng-click="displayDetails(charity.charityId)">
          <input type="radio" name="group">
          <div class="item-content">
            {{charity.name}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        
         -->
		
		
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Select Charity
		    </div>
		    <select ng-model="wish._charity" required>
		      <option ng-repeat="charity in charities" value="{{charity._id}}" >{{charity.name}}</option>
		    </select>
		  </label>
    

	    <label class="item item-input">
	       <span class="input-label">Donation Amount:</span>
	       $<input type="text" name="donationAmt" placeholder=" 10" ng-pattern="/^[0-9]\d*(\.\d+)?$/" ng-model="donation.amount" required>
	   </label>       

      <label class="item item-input" ng-show="wishForm.donationAmt.$dirty && wishForm.donationAmt.$error.required">
          <span class="error">Donation amount is required</span>
      </label>
       <label class="item item-input" ng-show="wishForm.donationAmt.$dirty && wishForm.donationAmt.$error.pattern">
          <span class="error">Donation amount must be a positive decimal</span>
      </label>
     
      </div> <!-- end of list -->

       <button type="submit" class="button button-charaspark button-outline" ng-disabled="wishForm.$invalid">
         <b>Make a Wish</b>
      </button>
  </form>



          <br>
        <h3>My Wishes</h3>


       <ion-scroll zooming="true" direction="y" style="height: 500px">
         <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>

           <div class="list">
             <label class="item item-radio" ng-repeat="wish in wishes" ng-click="goToDetails(wish)">
                  <input type="radio" name="wishgroup">
                  <div wish-summary >              
                  </div>
             </label> 
        </div>
           <!-- // they see me scrollin' ... they hatin' -->
       </ion-scroll>


      
  </ion-content>
</ion-view>
