

<ion-view view-title="Chara Spark">
  <ion-content class="padding">
<div class="list card">

  <!-- <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div> -->

  <div class="item item-body">
    <!-- <img class="full-image" src="delorean.jpg"> -->
    <p>
      This is some place holder text that will be replaced with something totally awesome. 
    </p>
    <!-- <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p> -->

  <!--          <img ng-src="{{oImage.src}}" class="fullscreen-image" /> -->
            <div class="item item-image">
             <img src="../../img/charasparklogin.png">
           </div>
            <button ng-click="facebookLogin()" class="button button-block button-positive">Facebook Sign In</button>
            <button ng-click="googleLogin()" class="button button-block button-assertive">Google Sign In</button>
            <button ng-click="emailLogin()" class="button button-block button-energized">Email Sign In</button>
            <!-- <p>
                Clicking the above button will initiate an official browser sign in flow with Facebook.  You
                will be redirected to the Facebook website to enter your credentials.
            </p> -->
        </div>

  <!-- <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div> -->

</div> <!-- end of list card -->
  </ion-content>
</ion-view>
