<ion-view view-title="{{wish.title}}">
  <ion-content class="padding" >
	<div class="list card">
	  <div class="item">
	    <!-- <img src="img/smile.png"> -->
	    <h2>{{wish.title}}</h2>
	    <p>{{wish._wishMaker.user_name}} -->  {{wish._charity.name}} | {{wish._donation.amount | currency}} | {{wish.createdDate}}</p>
	  </div>
	  <div class="item item-body">
	    <p>
	      {{wish.description}}
	    </p>
	  </div>
	  <div class="item tabs tabs-secondary tabs-icon-left">
		Status: {{wish.wishStatus}}
	  </div>
	  
	  <p>only show the following button if accepted </p>
	    <button class="button button-positive ">
		 Confirm
		</button>
		
		<button class="button button-positive ">
		 Cancel
		</button>
		
	</div> 
  </ion-content>
</ion-view>

 

      
