<ion-view view-title="{{wish.title}}">
    <ion-content class="padding">
        <div class="list card">
            <div wish-detail>
            </div>
        </div>
        <div class="list card">
            <span ng-show="showConfirm" style="clear:both">
		    <button class="button button-positive " ng-click="showCompleteOrConfirm('yes',wish.wishStatus)">Confirm</button>
            </span>

            <span ng-show="showComplete" style="clear:both">
            <button class="button button-positive " ng-click="showCompleteOrConfirm('yes',wish.wishStatus)">Complete</button>
            </span>

            <span ng-show="showCancel">
			<button class="button button-positive " ng-click="cancel('no', wish.wishStatus)">Cancel</button>
		    </span>
        </div>
        </div>
    </ion-content>
</ion-view>
