
<ion-view class="login-background">

  <ion-content class="padding">

<form name="login" ng-submit="Login()" novalidate class="loginform">
  <div class="list">

    <label class="item item-input userpw">
      <i class="icon ion-ios-email-outline  charaspark-color"></i>
      <input name="username" type="text" placeholder="Username" ng-model="user.username" required>
    </label>
 
     <label class="item item-input userpw">
      <i class="icon ion-ios-locked-outline charaspark-color"></i>
       <input type="password" placeholder="Password" ng-model="user.password" required>
     </label> 

    <label class="item item-input" ng-show="error" >
       <span class="error">Invalid credentials</span>
     </label>   

    <label class="item item-input">
      <button type="submit" class="button button-charaspark button-outline" ng-disabled="login.$invalid">
        <b>Sign in</b>
      </button>
    </label>
    
    <label class="item item-input">
      <button type="button" class="button button-clear button-charaspark" ng-click="retrievePassword()">
      <u>Forgot password?</u>
      </button>
    </label>
  
    <!-- <label class="item item-input">
     
    </label> -->
  </div>

</form>

   <div>
      <hr class ="dashline"/>

      <label class="item item-input">
      <button type="submit" class="button button-charaspark button-outline icon-left ion-social-facebook" >
        <b>Sign in with Facebook</b>
      </button>
    </label>

    <label class="item item-input">
      <button type="submit" class="button button-charaspark button-outline icon-left ion-social-google">
        <b>Sign in with Google</b>
      </button>
    </label>

    <label class="item item-input">
       <button type="button" class="button button-clear button-charaspark" ng-click="register()">
      <u>New here? Sign up.</u>
      </button>
    </label>
  </div>
  
  </ion-content>
</ion-view>
