
<ion-view class="login-background">

  <ion-content class="padding">

<form name="login" ng-submit="Login()" novalidate>
  <div class="list">

  <label class="item item-input"> 
      <span class="input-label">User Name</span>
      <input name="username" type="text" placeholder="enter your username" ng-model="user.username" required>
  </label>
    
     <label class="item item-input">
       <span class="input-label">Password</span>
       <input type="password" placeholder="enter your password" ng-model="user.password" required>
     </label> 

    <label class="item item-input" ng-show="error" >
       <span class="error">Invalid credentials</span>
     </label>   

    <label class="item item-input">
      <button type="submit" class="button button-charaspark button-outline" ng-disabled="login.$invalid">
        <b>Sign in</b>
      </button>
    </label>
    
    <label class="item item-input">
      <button type="button" class="button button-clear button-charaspark" ng-click="retrievePassword()">
      Forgot password
      </button>
    </label>

    <label class="item item-input">
      <button type="submit" class="button button-charaspark button-outline">
        <b>Facebook Login</b>
      </button>
    </label>

    <label class="item item-input">
      <button type="submit" class="button button-charaspark button-outline">
        <b>Gmail Login</b>
      </button>
    </label>

    <label class="item item-input">
       <button type="button" class="button button-clear button-charaspark" ng-click="register()">
      Sign Up
      </button>
    </label>
    

    
    <!-- <label class="item item-input">
     
    </label> -->

  </div>

</form>
  </ion-content>
</ion-view>
