<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view id="userMessagesView"
          cache-view="false" 
          view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>{{toUser.username='mzdu'}}</div>">


  <ion-content class="padding" has-bouncing="true" class="has-header has-footer">
<!--     <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p> -->
    
<!--       <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in ChatsHistory" type="item-text-wrap"> -->
      <div class="message-wrapper" ng-repeat="message in ChatsHistory" type="item-text-wrap">
                <div ng-if="message.user_name == 'David'">
                    <img class="profile-pic left" 
                          ng-src="{{message.face}}" />
      
                      <div class="chat-bubble left">
<!--                           <div class="message" ng-bind-html="message.text | nl2br" autolinker> -->  
                        <div class="message">
                            <p>{{message.message}}</p>
                          </div>
      
                          <div class="message-detail">
                              <span 
                                  class="bold">{{message.username}}</span>
                              <span am-time-ago="message.timestamp"></span>
                          </div>
      
                      </div>
                  </div>
        
                  <div ng-if="message.user_name != 'David'">
                    
                       <img class="profile-pic right" 
                          ng-src="{{message.face}}" />
                    
                      <div class="chat-bubble right">
                          <div class="message" >      
                         <!--  <div class="message" ng-bind-html="message.text" autolinker> -->
                          <p>{{message.message}}</p>
                          </div>
      
                          <div class="message-detail">
                              <span 
                                  class="bold">{{message.username}}</span>
                              <span am-time-ago="message.timestamp"></span>
                          </div>
      
                      </div>
                    
                  </div>
        
                   <div class="cf"></div>
        
        
        <!-- <img ng-src="{{message.face}}"> -->
<!--         
        <h2>{{message.user_name}}</h2>
        <p>{{message.message}}</p>
        <p>{{message.timestamp}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
         -->
      </div>
    
  </ion-content>

 
  
      <form name="sendMessageForm" ng-submit="sendMessage(input)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea ng-model="input.message" value="" placeholder="Send {{toUser.username}} a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
              <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                  ng-disabled="!input.message || input.message === ''">
              </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
