<ion-view view-title="Account">
 <ion-nav-title>
      <span>Account</span>
      <img src="../img/charaspark_logo_400.png" height="50%" style="float:left; margin-top: 13px">
    </ion-nav-title>

  <ion-content>
   <div class="list">

	   <!-- should show info here-->
<ul class="list">
	<li class="item">Name: Lydia</li>
    <li class="item">Username: lydia</li>
    <li class="item">Email: lydia@gmail.com</li>
</ul>

<!-- 
<button class="button button-block button-positive" ng-click="changePassword()">
  Change Password
</button>
 -->
<button type="button" class="button button-block button-positive" ng-click="logOff()">
  Log Out {{test}}
</button>

<ul class="list">
    <li class="item">Total Donated: $15</li>
    <li class="item">Total Donation Received (only shown for charity)</li>

</ul>

<button class="button button-block button-positive">
  Donation Detail (only shown for charity)
</button>
  


</div> 
  </ion-content>
</ion-view>


