<ion-view view-title="Account">
 <ion-nav-title>
      <span>Account</span>
      <img src="./img/charaspark_logo_400.png" height="50%" style="float:left; margin-top: 13px">
    </ion-nav-title>

  <ion-content>
   <div class="list">

	   <!-- should show info here-->
<ul class="list">
    <li class="item" ng-model="user.user_name">Username: {{user.user_name}}</li>
    <li class="item" ng-model="user.email">Email: {{user.email}}</li>
    <li class="item">Total Donated: {{totalDonation | currency}}</li>
</ul>

<!-- 
<button class="button button-block button-positive" ng-click="changePassword()">
  Change Password
</button>
 -->

<!--
<ul class="list">   
    <li class="item">Total Donation Received (only shown for charity)</li>
</ul>

<button class="button button-block button-positive">
  Donation Detail (only shown for charity)
</button>
-->
<div class="item item-divider"></div>

<button type="button" class="button button-full button-light" ng-click="editProfile()">
  Edit Profile
</button>  

<button type="button" class="button button-full button-light" ng-click="logOff()">
  Log Out
</button>


</div> 
  </ion-content>
</ion-view>


