
<ion-view view-title="Change Password">
  <ion-content class="padding">

<form ng-submit="ChangeIt()">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Old Password</span>
    <input type="text" placeholder="enter your old password" ng-model="pass.oldPass" />
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">New Password</span>
    <input type="text" placeholder="enter your new password" ng-model="pass.pass1" />
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Confirm New Password</span>
    <input type="text" placeholder="enter your new password again" ng-model="pass.pass2" />
  </label>
     
  <label class="item item-input" >
     <span class="error">{{errorMsg}}</span>
   </label>   
   
  <label class="item item-input">
         <button class="button button-block button-positive">
         Submit
         </button>
  </label>
</form>


</div>
  </ion-content>
</ion-view>
