/* Empty. Add your own CSS if you like */
.error {
    color: #F00;
}

div.new {
    background-color: #DFF2BF !important;
}

span.new {
	color: #4F8A10;
}
/*.cancelled {
    color: #FF0000;
}*/
div.pending {
    background-color: #FEEFB3 !important;
}
span.pending {
    color: #9F6000;
}
.progressing, .proceeding {
    background-color: #BDE5F8 !important;
}
.progressing, .proceeding {
     color: #00529B;
}
/*.completed {
    color: #C0C0C0;
}*/

div.aborted, div.cancelled {
	background-color: #FFBABA !important;
}

span.aborted, span.cancelled {
	color: #D8000C;
}