/* Empty. Add your own CSS if you like */
.error {
    color: #F00;
}

div.new {
    background-color: #DFF2BF !important;
}

span.new {
	color: #4F8A10;
}
/*.cancelled {
    color: #FF0000;
}*/
div.pending {
    background-color: #FEEFB3 !important;
}
span.pending {
    color: #9F6000;
}
.progressing, .proceeding {
    background-color: #BDE5F8 !important;
}
.progressing, .proceeding {
     color: #00529B;
}
/*.completed {
    color: #C0C0C0;
}*/

div.aborted, div.cancelled {
	background-color: #FFBABA !important;
}

span.aborted, span.cancelled {
	color: #D8000C;
}

.bgimg {    
    /*background: url(../img/makeawish.jpg);*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 2;
    position: relative;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}